@model List<Penalty>

@{
    ViewData["Title"] = "Penalties";
}

<head>
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
</head>

<div class="container mt-5">
    <div class="card border-0">
        <div class="form-header">💸 Penalty History</div>
        <div class="card border-0 shadow-sm rounded-4 overflow-hidden">
            <div class="card-body bg-light px-4 py-0 pt-2 mx-3">
                <!-- Penalties Table -->
                <div class="mt-2">
                    @if (Model.Count > 0)
                    {
                        <div class="table-responsive">
                            <table class="custom-table" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th class="py-3">Book Title</th>
                                        <th>Book ISBN</th>
                                        <th>Penalty Amount</th>
                                        <th>Penalty Type</th>
                                        <th>Due Date</th>
                                        <th>Borrow Date</th>
                                        <th>Return Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var penalty in Model)
                                    {
                                        string paidStatus = penalty.PaidStatus ? "Paid" : "Unpaid";
                                        string statusClass = penalty.PaidStatus ? "text-success fw-bold" : "text-danger fw-bold";

                                        <tr>
                                            <td>@penalty.BookCopy.Book.Title</td>
                                            <td>@penalty.BookCopy.Book.ISBN</td>
                                            <td>$@penalty.PenaltyAmount</td>
                                            <td>@penalty.PenaltyType</td>
                                            <td>@penalty.DueDate.ToString("dd/MM/yyyy")</td>
                                            <td>@penalty.BorrowDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (penalty.ReturnDate != null)
                                                {
                                                    @penalty.ReturnDate?.ToString("dd/MM/yyyy")
                                                }
                                                else
                                                {
                                                    <i class="fas fa-circle-xmark available-icon mx-auto" style="color: #da1010; font-size: 1.3rem;"></i>
                                                }
                                            </td>
                                            <td class="@statusClass">@paidStatus</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted">No Penalty records available for this Member.</p>
                    }
                </div>
            </div>

            <div class="card-footer bg-light text-center">
                <a class="btn btn-secondary btn-sm mx-2 my-2 px-4 py-2 shadow-sm" asp-action="Index">
                    <i class="bi bi-arrow-left-circle"></i> <p class="font-weight-bold p-0 m-0 text-white" style="font-size: 1rem">Back to List</p>
                </a>
            </div>
        </div>
    </div>
</div>
