@model PenaltiesPagerViewModel

<form method="get" asp-action="Index" asp-controller="Penalty" class="mb-4">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Search</label>
                <input type="text" name="SearchQuery" class="form-control"
                       value="@Model.Filter.SearchQuery" placeholder="Penalty ID, Member, or Book...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Penalty Type</label>
                <select name="PenaltyType" class="form-control" asp-items="Model.PenaltyTypesSelectList">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Sort By</label>
                <div class="input-group">
                    <select name="SortBy" class="form-control">
                        <option value="membername" class="pr-5" selected="@(Model.Filter.SortBy == "membername")">Member</option>
                        <option value="booktitle" selected="@(Model.Filter.SortBy == "booktitle")">Book</option>
                        <option value="borrowdate" selected="@(Model.Filter.SortBy == "borrowdate")">Borrow Date</option>
                        <option value="duedate" selected="@(Model.Filter.SortBy == "duedate")">Due Date</option>
                    </select>
                    <select name="SortOrder" class="form-control">
                        <option value="asc" class="mb-4" selected="@(Model.Filter.SortOrder == "asc")">Ascending</option>
                        <option value="desc" selected="@(Model.Filter.SortOrder == "desc")">Descending</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Paid Status</label>
                <select name="PaidStatus" class="form-control">
                    <option value="">All</option>
                    <option value="true" selected="@(Model.Filter.PaidStatus == true)">Paid</option>
                    <option value="false" selected="@(Model.Filter.PaidStatus == false)">Not Paid</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Borrow Date From</label>
                <input type="date" name="BorrowDateFrom" class="form-control"
                       value="@(Model.Filter.BorrowDateFrom?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Borrow Date To</label>
                <input type="date" name="BorrowDateTo" class="form-control"
                       value="@(Model.Filter.BorrowDateTo?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Due Date From</label>
                <input type="date" name="DueDateFrom" class="form-control"
                       value="@(Model.Filter.DueDateFrom?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Due Date To</label>
                <input type="date" name="DueDateTo" class="form-control"
                       value="@(Model.Filter.DueDateTo?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Return Date To</label>
                <input type="date" name="ReturnDateFrom" class="form-control"
                       value="@(Model.Filter.ReturnDateFrom?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Return Date To</label>
                <input type="date" name="ReturnDateTo" class="form-control"
                       value="@(Model.Filter.ReturnDateTo?.ToString("yyyy-MM-dd"))">
            </div>
        </div>
        <div class="col-md-6 d-flex mx-auto mt-3 justify-content-center">
            <div class="my-auto mx-0">
                <button type="submit" class="btn submit_button">
                    <i class="fas fa-magnifying-glass mr-1"></i>
                    Search
                </button>
            </div>
        </div>

    </div>
    <div class="row mt-3">
    </div>
</form>
