@model PagerSearchViewModel

<div class="d-flex">
    <!-- Display the current entry range -->
    <div class="d-flex justify-content-between align-items-center mb-2">
        <div>
            @if (Model.Pager.TotalItems > 0)
            {

                int startItem = (Model.Pager.CurrentPage - 1) * Model.Pager.PageSize + 1;
                int endItem = Math.Min(Model.Pager.CurrentPage * Model.Pager.PageSize, Model.Pager.TotalItems);
                <span>Showing @startItem to @endItem of @Model.Pager.TotalItems entries</span>
            }
            else
            {
                <span>No entries found</span>
            }
        </div>
    </div>

    <!-- Pagination Controls -->
    @if (Model.Pager.TotalPages > 1)

    {
        <ul class="pagination justify-content-end p-0 m-0 ml-auto">
            @if (Model.Pager.CurrentPage > 1)

            {
                <li class="page-item">
                    <a class="page-link border-primary"
                       asp-controller=@ViewBag.controller
                       asp-action=@ViewBag.action
                       asp-route-pg="1"
                       asp-route-searchQuery="@Model.SearchQuery"
                       asp-route-Status="@ViewBag.Filter.Status"
                       asp-route-ReservationDateFrom="@ViewBag.Filter.ReservationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ReservationDateTo="@ViewBag.Filter.ReservationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateFrom="@ViewBag.Filter.ExpirationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateTo="@ViewBag.Filter.ExpirationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-sortBy="@ViewBag.Filter.SortBy"
                       asp-route-sortOrder="@ViewBag.Filter.SortOrder">First</a>
                </li>

                <li>
                    <a class="page-link border-primary"
                       asp-controller="@ViewBag.controller"
                       asp-action=@ViewBag.action
                       asp-route-pg="@(Model.Pager.CurrentPage - 1)"
                       asp-route-searchQuery="@Model.SearchQuery"
                       asp-route-Status="@ViewBag.Filter.Status"
                       asp-route-ReservationDateFrom="@ViewBag.Filter.ReservationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ReservationDateTo="@ViewBag.Filter.ReservationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateFrom="@ViewBag.Filter.ExpirationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateTo="@ViewBag.Filter.ExpirationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-sortBy="@ViewBag.Filter.SortBy"
                       asp-route-sortOrder="@ViewBag.Filter.SortOrder">Previous</a>
                </li>
            }

            @for (var pge = Model.Pager.StartPage; pge <= Model.Pager.EndPage; pge++)

            {
                <li class="page-item @(pge == Model.Pager.CurrentPage ? "active" : "")">
                    <a class="page-link border-primary @(pge == Model.Pager.CurrentPage ? "text-white" : "")"
                       asp-controller=@ViewBag.controller
                       asp-action=@ViewBag.action
                       asp-route-pg="@pge"
                       asp-route-searchQuery="@Model.SearchQuery"
                       asp-route-Status="@ViewBag.Filter.Status"
                       asp-route-ReservationDateFrom="@ViewBag.Filter.ReservationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ReservationDateTo="@ViewBag.Filter.ReservationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateFrom="@ViewBag.Filter.ExpirationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateTo="@ViewBag.Filter.ExpirationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-sortBy="@ViewBag.Filter.SortBy"
                       asp-route-sortOrder="@ViewBag.Filter.SortOrder">@pge</a>
                </li>
            }

            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)

            {
                <li class="page-item">
                    <a class="page-link text-black border-primary"
                       asp-controller=@ViewBag.controller
                       asp-action=@ViewBag.action
                       asp-route-pg="@(Model.Pager.CurrentPage + 1)"
                       asp-route-searchQuery="@Model.SearchQuery"
                       asp-route-Status="@ViewBag.Filter.Status"
                       asp-route-ReservationDateFrom="@ViewBag.Filter.ReservationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ReservationDateTo="@ViewBag.Filter.ReservationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateFrom="@ViewBag.Filter.ExpirationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateTo="@ViewBag.Filter.ExpirationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-sortBy="@ViewBag.Filter.SortBy"
                       asp-route-sortOrder="@ViewBag.Filter.SortOrder">Next</a>
                </li>

                <li class="page-item">
                    <a class="page-link text-black border-primary"
                       asp-controller=@ViewBag.controller
                       asp-action=@ViewBag.action
                       asp-route-pg="@(Model.Pager.TotalPages)"
                       asp-route-searchQuery="@Model.SearchQuery"
                       asp-route-Status="@ViewBag.Filter.Status"
                       asp-route-ReservationDateFrom="@ViewBag.Filter.ReservationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ReservationDateTo="@ViewBag.Filter.ReservationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateFrom="@ViewBag.Filter.ExpirationDateFrom?.ToString("yyyy-MM-dd")"
                       asp-route-ExpirationDateTo="@ViewBag.Filter.ExpirationDateTo?.ToString("yyyy-MM-dd")"
                       asp-route-sortBy="@ViewBag.Filter.SortBy"
                       asp-route-sortOrder="@ViewBag.Filter.SortOrder">Last</a>
                </li>
            }
        </ul>
    }
</div>
